.Container
{   width: 800px;
    margin: auto;
    margin-top:80px;
    border: 1px black solid;   
}
.content
{
    float:right;

}
.firstli
{
    float:left;
    padding-right:60px;
    font-size:30px;
    color:blue;
    border-bottom: 5px solid blue;
}
.secli
{
    float: right;
    padding-left:30px;
    font-size:30px;
    color:blue;
    margin-right:30px;
}
.mobile
{
    margin-top: 50px;
}
input
{
    width:400px;
    border:none;

    font-size: 20px;
    color:gray;
    padding:8x;
    border-color: white;
    border-bottom: red 2px solid;
}
.pwd
{  
    margin-top: 50px;
}
#btn
{
 background-color:orangered;
 color: white;
 width: 120px;
 height: 60px;
 margin-top: 20px;
 border-radius: 10px;

}
a
{
text-decoration: none;
color: blue;
}
.fp
{
    text-align:center;
}

.fa-google-plus
{
    margin-left: 50px;
}